/* Login Form Container */
body {
  background-image: url(/src/Leonardo_Phoenix_09_A_soft_neutral_background_for_a_social_med_2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.726);
  margin: 0;
  padding: 0;
  height: 100%; /* מבטיח שהרקע יכסה את כל גובה המסך */
  background-size: cover; /* מתאים את התמונה כך שתכסה את המסך */
  background-position: center; /* מרכז את התמונה */
  background-repeat: no-repeat; /* מונע חזרה על התמונה */
  background-attachment: fixed; /* מקבע את התמונה כך שהיא לא תזוז עם הגלילה */
}

#container {
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(8, 7, 16);
  text-align: center;
}

/* Login Form Title */
h3 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  white-space: pre-line;
  text-align: center;
  color: #333;
}

/* Input Fields */
.input {
  width: 350px;
  display: block;
  text-align: center;
  background: none;
  margin: 6px 0px;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  padding: 10px;
  border-radius: 30px;
}

.input::placeholder {
  color: #333;
}

.input:focus {
  border-color: rgba(7, 155, 155, 0.8);
  border-width: 4px;
}

/* Submit Button */
button[type="submit"] {
  text-align: center;
  height: 50px;
  background-color: #333;
  color: white;
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 40px 20px 0px;
}

button[type="submit"]:hover {
  background-color: rgba(7, 155, 155, 0.8);
}

/* Sign Up Link */
a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: rgba(60, 197, 197, 0.8);
}

/* Alert Message (optional) */
#messagesDivRef {
  margin: 10px 0;
  color: #333;
}