.navbar {
  width: 220px;
  background-color: #ffffff;
  padding: 20px;
  height: 100vh;
}

.logo {
  color: #1db954;
  margin-bottom: 30px;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
  color: #1db954;
}

.logout-button {
  background: none;
  border: none;
  color: rgb(211, 16, 16);
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.logout-button:hover {
  color: #ff6666;
}