/* קונטיינר חיצוני */
.layoutContainer {
  display: flex;
  min-height: 100vh; /* גובה מינימלי של חלון הדפדפן */
}

/* סיידבר קבוע */
.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(17, 16, 16, 0.356);
  z-index: 1000;
  overflow: hidden; /* מונע גלילה בסיידבר */
}

/* תוכן ראשי - מתוזז מימין לסיידבר רק כשיש סיידבר */
.mainContent {
  padding: 20px; /* ריווח פנימי */
  flex-grow: 1;
  min-height: 100vh;
  overflow-y: auto; /* גלילה בתוכן הראשי במידת הצורך */
  box-sizing: border-box;
}

/* מרג'ין שמאל רק כשיש סיידבר */
.mainContentWithSidebar {
  margin-left: 240px; /* שוליים שווים לרוחב הסיידבר */
}